$light: #ffffff;
$gray: #7e7e82;
$gray-light: #b5b6bc;
$gray-ultra-light: #eaeaea;
$dark: #1b1c21;
$pink: #ff3e79;
$aqua: #41f6d7;
$aqua-light: #b8ffec;
$aqua-ultra-light: #d9fff5;
$page: #f8f8f8;
$page-light: #f8f8f800;
$shadow: #0e185033;
$shadow-light: #454f7e05;
$pagination: #b5b6bc;
$pagination-light: #dddddd;
