@use '@/scss/root' as *;

.footer {
  padding: 16px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: $gray;
  background-color: $page;
  box-shadow: inset 0 1px $aqua-ultra-light;

  @media (min-width: 768px) {
    padding-top: 32px;
  }

  @media (min-width: 1440px) {
    margin-left: 305px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__confidentiality {
    margin-bottom: 16px;

    @media (min-width: 1440px) {
      text-align: left;
    }
  }

  &__notice {
    @media (min-width: 768px) {
      text-align: right;
    }
  }
}
